@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Ops, ocorreu um erro inesperado!</h1>
    <h2 class="error">Gentileza Entrar em Contato Com o Administrador do Sistema</h2>
    <h2 class="error">Pelo e-mail: aloisioalberto@gmail.com ou pelo telefone (31) 99239-4185.</h2>
    <h2 class="error">A Rezende Soluções pede Desculpas pelo Transtorno.</h2>
</hgroup>
