<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
  <connectionStrings>
    <add name="TechshopEntities" connectionString="metadata=res://*/ModelSkyhub.csdl|res://*/ModelSkyhub.ssdl|res://*/ModelSkyhub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BETO-PC\REZENDE;initial catalog=Techshop;user id=sa;password=oitos;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TechshopEntities1" connectionString="metadata=res://*/ModelEntity.csdl|res://*/ModelEntity.ssdl|res://*/ModelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BETO-PC\REZENDE;initial catalog=Techshop;persist security info=True;user id=sa;password=oitos;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BloggingContext" connectionString="data source=BETO-PC\REZENDE;initial catalog=Techshop;initial catalog=Blogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--  <add name="TechshopContext" connectionString="Data Source=beto-pc\rezende;Initial Catalog=Techshop;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
   -->
        <add name="TechshopContext" connectionString="Data Source=beto-pc\rezende;Initial Catalog=Techshop;persist security info=True;user id=sa;password=oitos" providerName="System.Data.SqlClient" />
   
       <!-- <add name="TechshopContext" connectionString="data source=BETO-PC\REZENDE;initial catalog=techshop;persist security info=True;user id=sa;password=oitos;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
       -->
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
