<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SPREntities" connectionString="metadata=res://*/ModeloSistemaPublicidade.csdl|res://*/ModeloSistemaPublicidade.ssdl|res://*/ModeloSistemaPublicidade.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BETO-PC\REZENDE;initial catalog=SPR;user id=sa;password=oitos;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TechshopEntities" connectionString="metadata=res://*/ModeloTechShop.csdl|res://*/ModeloTechShop.ssdl|res://*/ModeloTechShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BETO-PC\REZENDE;initial catalog=Techshop;user id=sa;password=oitos;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TechshopEntities1" connectionString="metadata=res://*/ModeloTechshop.csdl|res://*/ModeloTechshop.ssdl|res://*/ModeloTechshop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BETO-PC\REZENDE;initial catalog=Techshop;user id=sa;password=oitos;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>