<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Techshop.Aplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Techshop.Aplication.Properties.Settings>
      <setting name="Techshop_Aplication_WsdlJadlog_NotfisBeanService"
        serializeAs="String">
        <value>http://www.jadlog.com.br:8080/JadlogEdiWs/services/NotfisBean</value>
      </setting>
      <setting name="Techshop_Aplication_wsJadlogConsulta_TrackingBeanService"
        serializeAs="String">
        <value>http://www.jadlog.com.br:8080/JadlogEdiWs/services/TrackingBean</value>
      </setting>
    </Techshop.Aplication.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="CodigoClienteJadlog" value="62499"/>
    <add key="SenhaWebserviceJadlog" value="T2B0C1s6"/>
    
  </appSettings>
</configuration>