@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/shared/_Layout.cshtml";
}
@section featured {
    
}

  <header class="page-header">
		<h2>Página não existe</h2>
    </header>      

A página que você esta procurando não existe!

