<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <!--
    <add name="TechshopContext" connectionString="Data Source=beto-pc\rezende;Initial Catalog=Techshop;persist security info=True;user id=sa;password=oitos" providerName="System.Data.SqlClient" />
  -->

    <add name="TechshopContext" connectionString="Data Source=192.168.1.5;Initial Catalog=DEVELOPER;persist security info=True;user id=skyhub;password=skyhub" providerName="System.Data.SqlClient" />

    <add name="ProtheusEntities" connectionString="Data Source=192.168.1.5;Initial Catalog=TESTEMP11;persist security info=True;user id=skyhub;password=skyhub" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
